*/__pycache__/*
*.py[cod]
*$py.class
project/python/narupa-protocol/narupy/*.pdb

\.idea/

\.DS_Store

project/python/narupa-protocol/narupy/benchmark/results\.csv

notebooks/

project/python/narupa-protocol/narupy/benchmark/results_frankfurt\.csv

project/python/narupa-protocol/narupy/benchmark/results_grpc_py\.csv

project/python/narupa-protocol/Narupa\.egg-info/
