__pycache__
*.py[cod]
*$py.class

.idea
.DS_Store

# Ignore the compiled files
python-libraries/narupa-core/src/narupa/protocol
csharp-libraries/Narupa.Protocol/obj
csharp-libraries/Narupa.Protocol/bin
csharp-libraries/Narupa.Protocol.Test/obj
csharp-libraries/Narupa.Protocol.Test/bin

# Ignore egg-info files
*.egg-info/

# Ignore coverage data
.coverage
htmlcov

.pytest_cache

.hypothesis/
*.DotSettings.user
