*/__pycache__/*
*.py[cod]
*$py.class
project/python/narupa-protocol/narupy/*.pdb
project/csharp/Narupa.Protocol/obj/*
project/csharp/Narupa.Protocol/bin/*

\.idea/

\.DS_Store

project/python/narupa-protocol/narupy/benchmark/results\.csv
